POSTGRES_DB=real_es
POSTGRES_USER=real_es_bootstrap
POSTGRES_PASSWORD=REPLACE_WITH_BOOTSTRAP_RANDOM_HEX
REAL_ES_MIGRATION_USER=real_es_migrator
REAL_ES_MIGRATION_PASSWORD=REPLACE_WITH_MIGRATION_RANDOM_HEX
REAL_ES_APP_USER=real_es_app
REAL_ES_APP_PASSWORD=REPLACE_WITH_APP_RANDOM_HEX
